
<html>
    <body>
        <h1>Produtos</h1>
        <table border="1">
            <tr>
                <td>id</td>
                <td>nome</td>
                <td>descricao</td>
            </tr>
            <%for(var i=0;i<lista.length;i++) {%>
            <tr>
                <td><%=lista[i].id%></td>
                <td><%=lista[i].titulo%></td>
                <td><%=lista[i].descricao%></td>
            </tr>
            <%}%>
        </table>
    </body>
</html>
